.vcenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.hcenter {
    display: flex;
    justify-content: center;
}

.header_text {
    height: 50px;
    max-height: 50px;
    /*line-height: 50px;*/
    padding: 10px;
    font-size: 18px;
}

// Mixin itself
.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 980px;
}

.total_varsities {
    margin-left: 10px;
}

.vts_margin_right {
    margin-right: 10px;
}

.vts_margin_left {
    margin-left: 10px;
}

.content_cards {
    margin-top: 20px;
}

.big_text {
    font-size: 20px;
    line-height: 80px;
    font-family: sans-serif;
    font-weight: bolder;
}
